<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./../vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./functional</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>